.btn.btn-primary:disabled:hover {
    border: 4px solid red !important;
    cursor: default;
  }
  
  .error {
    color: #D8000C;
    background-color: #FFD2D2;
    font-size:20px;
    vertical-align: middle;
  }