<div class="container">
    <div class="row">
        <div class=" col-md-6">
            <div class="col-md-6 col-lg-9 ">
                <div class="blog-entry">
                  <a href="blog-single.html" class="block-20" style="background-image: url('assets/images/image_1.jpg');">
                  </a>
                 
                </div>
          </div>
          
    </div>
    <div class="col-md-6">
     
                      <h2>{{menu.name}}</h2>  <p><span>{{menu.description}}</span></p> <span class="price">{{menu.price}} $</span>
    </div>
</div>
