<div class="container">
    <div class="row">
        <div class=" col-md-6">
            <div class="col-md-6 col-lg-9 ">
                <div class="blog-entry">
                  <a class="background" href="blog-single.html" class="block-20" [style.background]="'url(assets/images/' + menu.picture + ')'">
                  </a>
                 
                </div>
          </div>
          
    </div>
    <div class="col-md-6">
     
                     <h2> {{menu.name}}</h2>  <p><span>{{menu.description}}</span><br/>
                        <span class="price"><h1>{{category.name}} food</h1> </span>
                    </p> <span class="price"><h1>Price: {{menu.price}} $</h1></span>
    </div>
</div>
